@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
body {
    margin: 0;
    padding: 1;
}

section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.sec1 {
    background: url(./imagenes/Street-Art-Challenge-pic-4-730x492.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
}

.sec2 {
    background: url(./imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.sec3 {
    background: url(./imagenes/paint.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.secText {
    padding: 50px;
    height: auto;
}

h1 {
    text-align: center;
    background: black;
    color: white;
    font-size: 60px;
    font-weight: 100;
    width: 7.5%;
    height: 15%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
}